#data {
	padding: 8px;
	font-size: 22px;
	text-shadow: 2px 1px 3px;
}

#czas {
	padding: 8px;
	font-size: 22px;
	text-shadow: 2px 1px 3px;
}

.main {
	overflow: auto;
	min-height: 640px;
	margin: 8px 4px 4px 4px;
	border-radius: 10px;
	box-shadow: 2px -2px 9px 1px;
}

.full {
	width: 98.5%;
	min-height: 500px;
	margin: 4px auto;
	border-radius: 10px;
	box-shadow: 2px -2px 9px 1px;
}

/* -	-	-	-	-	-	-	-	-	--	-	-	-	-	-	-	-	-	- Sekcja "asaid" -	-	-	-	-	-	-	-	-	- */
.spis {
	width: 20%;
	min-height: 500px;
	margin: 8px;
	border-radius: 10px;
	float: left;
	box-shadow: 2px -2px 9px 1px;
}

.artykul {
	width: 77.5%;
	min-height: 300px;
	margin: 8px 4px;
	border-radius: 10px;
	float: left;
	box-shadow: 2px -2px 9px 1px;
}

.sekcja {
	width: 37.5%;
	min-height: 100px;
	margin: 8px 4px 4px 4px;
	border-radius: 10px;
	float: left;
	box-shadow: 2px -2px 9px 1px;
}

/* -	-	-	-	- "Rozdzielacz + zawartość treści" -	-	-	-	- */
.belka {
	min-height: 12px;
	text-align: center;
	margin: 6px;
	border-radius: 10px;
	box-shadow: 2px -2px 9px 1px;
}

.karta {
	min-height: 40px;
	margin: 6px;
	padding: 10px;
	border-radius: 10px;
	box-shadow: 2px -2px 9px 1px;
	/* -	-	-	-	- "Rozdzielacz" + zawartość treści -	-	-	-	- */
}
/* -	-	-	-	-	-	-	-	-	--	-	-	-	-	-	-	-	-	- Sekcja "asaid" -	-	-	-	-	-	-	-	-	- */