@charset "UTF-8";

/* FRONT */
.belka {
	box-shadow: 2px -2px 7px 1px  #008181;
}
.karta {
	box-shadow: 2px -2px 7px 1px  #008181;
}
.front {
	box-shadow: 2px -2px 7px 1px  #008181;
}
.spis {
	box-shadow: 2px -2px 7px 1px  #008181;
}
.artykul {
	box-shadow: 2px -2px 7px 1px  #008181;
}
.sekcja {
	box-shadow: 2px -2px 7px 1px  #008181;
}
/* FRONT */
