@charset "UTF-8";

/* FRONT */
.belka {
	box-shadow: 2px -2px 7px 1px;
}

.karta {
	box-shadow: 2px -2px 7px 1px;
}

.front {
	box-shadow: 2px -2px 7px 1px;
}

.spis {
	box-shadow: 2px -2px 7px 1px;
}

.artykul {
	box-shadow: 2px -2px 7px 1px;
}

.sekcja {
	box-shadow: 2px -2px 7px 1px;
}
/* FRONT */